.container
  .text-center
    %h1 Mets en jeu le restaurant souhaité
    .row
      - @restaurants.each do |restaurant|
        .col-md-6
          = link_to challenge_restaurants_path(@challenge.id, restaurant: restaurant.attributes.compact), data: { method: :post, confirm: 'Parier ce restaurant ?' }, class:'card-link' do
            .restaurant-card
              .food-icon='﫱'
              .restaurant-card-body
                %p= restaurant.name.upcase
                %p= restaurant.address
                .d-flex.justify-content-center
                  %span.mr-5= restaurant.opened_now?
                  %span{style: 'color: rgb(0, 204, 255);'}
                    = ' ' * restaurant.rating
                  %span.ml-5{style: 'color: rgb(255, 0, 128);'}
                    = '  ' * restaurant.cost

