.text-center
  %h1 Bravo ! Vous êtes le premier à avoir fini le challenge !
  %h2.light-blue-font= "Votre score est : #{user_challenge.score}"
  %p= "#{user_challenge.challenge.invitations.count} invitation(s) en attente"
  %h3= "En attendant voici un article sur le come-back du mobilier en rotin :"
  .text-justify.white-font
    %p Par Catherine Rollot
    %p Publié le 15 avril 2017 à 07h45 - Mis à jour le 15 avril 2017 à 17h24
    %p Temps deLecture 2 min.
    %p Le mobilier en rotin redevient tendance
    %p Incontournable dans les intérieurs seventies, symbole du ringard quelques décennies plus tard, le fauteuil en rotin opère un étonnant retour dans les salons et les chambres, dopé par l’engouement pour le mobilier en matériau naturel.

    En 1974, dans la France giscardienne, elle posait largement dépoitraillée, un collier de perles pour toute parure, lovée dans un haut fauteuil de rotin d’inspiration tahitienne. Sommets de l’érotisme à l’époque, le film Emmanuelle et son affiche firent de Sylvia Kristel une star, et du fauteuil, un must. Oublié, le nom originel de ce siège dit « Pomaré », du patronyme d’une famille royale polynésienne. On ne parla plus que du fauteuil « Emmanuelle ».

    Incontournable dans les intérieurs seventies, symbole du ringard quelques décennies plus tard, ce fauteuil à l’allure de trône repointe aujourd’hui son dos en forme de paon, son socle tarabiscoté et son encombrement dans les salons et les chambres. Et celui que l’on bazardait pour quelques euros dans les vide-greniers ou sur les brocantes en ligne a vu sa cote remonter brusquement, dopée par l’engouement pour le mobilier en matériau naturel.

    Fauteuils, têtes de lit, paniers, miroirs soleil, luminaires… on ne compte plus les déclinaisons offertes par le rotin, l’osier et autre bambou, souvent mis dans le même sac des fibres exotiques. A tort. Le rotin, ou rotang, en malais, est une liane d’origine tropicale de la famille des palmiers, contrairement à l’osier, plante des pays tempérés issue du saule. Beaucoup plus fin que le rotin, il est surtout utilisé pour du tissage ou la fabrication de paniers et petits objets. Quant au bambou, à la différence du rotin ou de l’osier, c’est une tige creuse qui ne peut pas être courbée. Malgré leurs différences, les trois se marient souvent sur une même pièce de mobilier et n’ont pas leur pareil pour accentuer le côté folk, scandinave ou tropical chic d’une ambiance.